:root {
    --font-primary: 'Montserrat', sans-serif;
    --color-bg: #0b0014;
    --color-text: #e4d4f4;
    --color-accent1: #8338EC;
    --color-accent2: #B923FF;
    --color-accent-gradient: linear-gradient(93deg, var(--color-accent1) 49.3%, var(--color-accent2) 87.76%);
    --color-hover: linear-gradient(93deg, var(--color-accent2) 49.3%, var(--color-accent1) 87.76%);
    --box-shadow-accent: #a86cf455;
    --box-shadow-accent-hover: #a86cf488;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: var(--font-primary);
    background-color: var(--color-bg);
    color: var(--color-text);
    line-height: 1.6;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0.5rem 1rem;

}

section {
    width: 100%;
}

#about {
    width: 100%;
}

h2 {
    font-size: 2.5rem;
    text-align: left;
    font-weight: 600;
    background: var(--color-accent-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

p {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    line-height: 1.7;
    color: var(--color-text);
    text-align: justify;
}

strong, em {
    color: var(--color-accent2);
    font-style: inherit;
    font-weight: 600;
}

.repo-card {
    background: #1a1024;
    border-radius: 0.7rem;
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: 0 2px 8px var(--box-shadow-accent);
    text-align: left;
}
.repo-card a {
    color: var(--color-text);
    font-weight: 600;
    font-size: 1.1rem;
    text-decoration: none;
}
.repo-card a:hover {
    color: var(--color-accent1);
}
.repo-card p {
    margin: 0.5rem 0 0.3rem 0;
    color: var(--color-text);
    font-size: 0.98rem;
}
.repo-card span {
    color: #b98aff;
    font-size: 0.9rem;
}

@media (max-width: 600px) {
    main {
        width: 100vw;
        max-width: 100vw;
        margin: 0;
        border-radius: 0;
        box-sizing: border-box;
        align-items: center;
        justify-content: flex-start;
    }
    section, #about {
        width: 100%;
    }
    h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    p {
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}